.text--title {
    font-size: var(--font-size-2xl);
    line-height: var(--line-height-lg);
    font-weight: var(--font-bold);
}

.text--subtitle {
    font-size: var(--font-size-lg);
    line-height: var(--line-height-md);
    font-weight: var(--font-bold);
}

.text--paragraph {
    font-size: var(--font-size-sm);
    line-height: var(--line-height-sm);
    font-weight: var(--font-medium);
}

.text--button-1 {
    font-size: var(--font-size-sm);
    line-height: var(--line-height-sm);
    font-weight: var(--font-bold);
    color: var(--worm-black-1);
}

.text--small-secondary {
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-xs);
    font-weight: var(--font-medium);
    line-height: var(--line-height-xs);
}

.text--bold {
    font-weight: var(--font-bold);
}

.text--white {
    color: var(--just-white);
}

.text--gray-2 {
    color: var(--gray-2);
}

.text--black {
    color: var(--black);
}

.header {
    position: relative;
    padding: var(--spacing-10) var(--screen-w-sm) 0 var(--screen-w-sm);
    display: grid;
    justify-items: center;
    text-align: center;
    background: var(--linear-bg);
    background-size: 120%;
}


.header__text-content {
    display: grid;
    gap: var(--spacing-6);
    margin: var(--spacing-9) 0;
    padding-bottom: var(--spacing-6);
}

.header__description {
    color: var(--soft-orange);
}

.header__button {
    position: absolute;
    bottom: 0;
    transform: translateY(50%);
    display: flex;
    gap: var(--spacing-4);
    padding: var(--spacing-3) var(--spacing-4);
    color: var(--worm-black-1);
    background-color: var(--off-white);
    border-radius: var(--rounded-sm);
    box-shadow: var(--shadow-lg);
}

.section-rate {
    display: grid;
    padding: var(--spacing-15) var(--screen-w-sm) ;
    justify-items: center;
    text-align: center;
}

.section-rate__middle-content {
    display: grid;
    gap: var(--spacing-6);
    margin-bottom: var(--spacing-12);
}

.list-coins {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: var(--spacing-8);
    text-align: left;
    padding: 0 var(--spacing-3);
}

.list-coins__title{
    color: var(--bitcoin-orange);
    margin-bottom: var(--spacing-3);
}

.list-coins__item {
    display: grid;
    grid-template-columns: 1fr auto auto;
    padding: var(--spacing-2) 0;
    line-height: var(--line-height-sm);
}

.list-coins__name {
    font-size: var(--font-size-md);
    color: var(--gray-1);
}

.list-coins__price{
    min-width: 4rem;
    margin-right: var(--spacing-2);
    font-size: var(--font-size-sm);
    color: var(--gray-2);
}

.list-coins__date-update {
    padding: var(--spacing-2);
    margin-top: var(--spacing-4);
    line-height: var(--line-height-sm);
    background-color: var(--soft-orange);
}

.section-specs {
    padding: var( --spacing-16) var(--screen-w-sm) var( --spacing-12) var(--screen-w-sm);
    background-color: var(--worm-black-1);
}

.sections-specs__header {
    margin-bottom: var(--spacing-8);
    text-align: center;
}

.section-specs__title {
    margin-bottom: var(--spacing-6);
}

.section-specs__content{
    display: grid;
    gap: var(--spacing-4);
}

.section-specs__item {
    padding: var(--spacing-4) var(--spacing-3);
    background-color: var(--worm-black-2);
    border-radius: var(--rounded-sm);
}

.section-specs__name {
    margin: var(--spacing-2) 0 var(--spacing-1) 0;
}

.section-ad {
    position: relative;
    display: grid;
    place-items: center;
}
.section-ad__title {
    position: absolute;
    top: 6.4rem;
}

.section-ad__img {
    width: 100vw;
}

.section-plan {
    position: relative;
    padding: var(--spacing-16) var(--screen-w-sm);
    text-align: center;
}

.section-plan__title{
    letter-spacing: -0.08rem;
}

.section-plan__description {
    margin: var(--spacing-6) 0 var(--spacing-9) 0;
}

.card-plan {
    display: grid;
    justify-items: center;
    gap: var(--spacing-4);
    padding:  0 var(--spacing-4) var(--spacing-6) var(--spacing-4);
    margin: 0 auto;
    max-width: 80%;
    box-shadow: var(--shadow-lg);
}

.card-plan__button-top {
    padding: var(--spacing-2);
    font-weight: var(--font-bold);
    color: var(--just-white);
    background-color: var(--bitcoin-orange);
    border-radius: var(--rounded-lg);
}

.card-plan__price-wrapper{
    display: flex;
    align-items: flex-start;
}
.card-plan__price {
    font-size: var(--font-size-5xl);
    font-weight: var(--font-bold);
    line-height: var(--line-height-none);
}
.card-plan__icon-dolar{
    width: 1.2rem;
}
.card-plan__button-choose {
    display: flex;
    gap: var(--spacing-3);
    justify-content: center;
    align-items: center;
    padding: var(--spacing-3);
    border: 0.2rem solid var(--bitcoin-orange);
    border-radius: var(--rounded-sm);
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-13);
    padding: var(--spacing-10) var(--screen-w-sm);
    background-color: var(--bitcoin-orange);
}

.footer__item {
    margin-bottom: var(--spacing-2);
}

.footer__list li:last-child {
    margin-bottom: 0;
}